@import url("/styles/common.css");

#about {
  display: flex;
  padding: 20% 0;
}

#about-img, #about-text {
  width: 50%;
  display: block;
}

#about-title {
  color: var(--blue);
  font-size: 40px;
  font-weight: 400;
}

#about-subtitle {
  color: var(--pink);
  font-weight: 800;
  font-size: 16px;
  line-height: 115%;
  padding-bottom: 15px;
}

.about-text {
  color: var(--text);
  font-size: 16px;
  line-height: 135%;
  padding-bottom: 40px;
}

.resume-button {
  padding: 10px 20px;
  background-color: var(--blue);
  border: solid 4px var(--blue);
  border-radius: 50px;
  color: var(--white);
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}

.resume-button:hover {
  background-color: var(--white);
  color: var(--blue);
}

.aboutImgDesk {
  display: block;
  width: 85%;
  
}

.aboutImgMob {
  display: none;
}

/*RESPONSIVE*/

@media (max-width:900px) {
  #about{
    padding: 20% 5%;
  }
}

@media (max-width:750px) {
  #about {
    display: block;
    max-width: 600px;
    margin: 0 auto;
  }

  #about-img, #about-text {
    width: 100%;
  }

  .aboutImgDesk {
    display: none;
  }
  
  .aboutImgMob {
    display: block;
    margin: 0 auto 30px auto;
    width: 50%;
    
  }
}

@media (max-width:500px) {
  #about-title{
    font-size: 28px;
  }

  .resume-button {
    font-size: 16px;
  }

  .aboutImgMob {
    display: block;
    margin: 0 auto 30px auto;
    width: 80%;
    
  }
}


