@import url("./common.css");

body {
  display: flex;
}

h1 {
  color: var(--primary);
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  margin: 0.5em 0 0.1em;
}

h3 {
  color: var(--primary);
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
}

form {
  position: relative;
  max-width: 26em;
  background-color: var(--bg);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2em auto 1em;
  padding: 1em 2.5em;
  box-sizing: border-box;
}

input {
  width: 100%;
  height: 24px;
  padding: 0.4em 0.5em;
  background-color: var(--app-grey);
  border: 1.5px solid var(--primary);
  border-radius: 5px;
  margin: 5px 0 10px;
  color: var(--primary);
}

input:focus {
  outline: none;
  border: 1px solid lightgrey;
}

label {
  width: 100%;
  font-weight: 400;
  color: var(--primary);
  font-size: 18px !important;
  margin-bottom: -0.1em;
  margin-top: 1em;
  font-size: 0.8em;
}

#btnSubmit {
  padding: 0.5em 3em;
  background-color: var(--primary);
  border: 3px solid var(--primary);
  color: var(--bg);
  margin-top: 2em;
  font-weight: 600;
  font-size: 20px;
  width: 100%;
  border-radius: 50px;
}

#btnSubmit:hover {
  border: 3px solid var(--primary);
  background-color: var(--bg);
  color: var(--primary);
}

.linkRedirect {
  text-decoration: none;
  color: var(--primary);
}

.linkRedirect:hover {
  text-decoration: none;
  color: var(--secondary);
}

/* .form-header {
  color: grey;
  font-size: 2em;
} */

.ingressar {
  text-align: center;
}
.left {
  width: 50%;
  background-color: var(--primary);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left img {
  width: 60%;
}
.right {
  width: 50%;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error {
  border: 1.5px solid var(--warning);
}

.error + small {
  color: var(--warning);
}

/*ANIMAÇÃO*/

.loading {
  position: absolute;
  align-items: center;
  width: 20px;
  height: 20px;
  border: var(--primary) 4px solid;
  border-radius: 50%;
  transition: all 0.5s;
  animation: loading 0.5s infinite;
}

@keyframes loading {
  0% {
    border-top: white 4px solid;
    transform: rotate(45deg);
  }

  50% {
    border-top: white 4px solid;
    transform: rotate(180deg);
  }

  100% {
    border-top: white 4px solid;
    transform: rotate(360deg);
  }
}

.loading-box {
  font-size: 0rem;
  display: flex;
  justify-content: center;
}

.button-loading {
  padding: 0.5em 3em;
  background-color: var(--primary);
  margin-top: 2em;
  font-weight: 600;
  font-size: 20px;
  width: 100%;
  border-radius: 50px;
  color: var(--primary);
  text-align: center;
}

/*BOTAO DARK MODE*/
#color-theme {
  position: fixed;
  top: 1.5em;
  left: 1.5em;
  background-color: var(--primary);
  color: var(--secondary);
  font-weight: 600;
}

/*RESPONSIVO*/
@media only screen and (max-width: 755px) {
  .left {
    width: 100%;
    height: 100px;
    position: absolute;
  }

  .right {
    width: 100%;
    margin-top: 10%;
    position: absolute;
  }

  img {
    display: none;
  }
}

/*MOBILE*/

@media only screen and (max-width: 380px) {
  #tituloLogin {
    margin-top: 20% !important;
  }

  h1 {
    font-size: 50px;
    margin: 0 0 0.1em;
  }

  h3 {
    font-size: 24px;
  }

  label {
    font-size: 16px !important;
  }

  input {
    width: 95%;
    height: 20px;
  }

  button {
    margin-top: 1em;
  }

  form {
    margin: 0 auto;
  }

  .ingressar {
    margin-bottom: 1em;
  }
}
