/*PAGE*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap');

:root {
  --primary: #00BCD4;
  --secondary: #2F3E46;
  --darkblue: #00308F;
  --accent: #FFD700;
  --grey: #f2f2f2;
  --text: #222222;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
}

body {
  background-color: var(--white);
}

.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

/*NAVBAR*/

header {

  overflow:auto;
}

nav {

  margin-top: 42px;
}


.logo {
  float: left;
  margin: 0;
  width: 126px;
}

.nav-list {
  float: right;
}

.nav-list li {
  display: inline-block;
        font-size: 16px;
        line-height: 100%;
        padding: 0 15px;
}

.nav-list a {
  color: var(--secondary);
  text-decoration: none;
}

#contact-button {
  color: var(--secondary);
}



.nav-list a:hover,
.nav-list a:focus, #contact-button:hover {
  color: var(--accent);
  text-decoration: overline;
  font-weight: 800;
  cursor: pointer;
}

.active {
  color: var(--primary) !important;
  font-weight: 800;
}

.nav-button {
  /*position: absolute;
  top: 50%;
  right: 20px;*/
  float: right;
  outline: none;
  color: var(--secondary);
  background-color: var(--white);
  border: none;
  font-size: 16px;
  display: none;
  padding: 0 15px;
}

/*FOOTER*/
footer {
  background-color: var(--primary);
  padding-top: 120px;
}

#footer-content {
  display: flex;
}

#ft-title {
  font-weight: 800;
  color: var(--white);
  font-size: 44px;
  line-height: 115%;
}

#ft-text {
  color: var(--secondary);
  font-size: 36px;
  line-height: 115%;
}

.contact-title {
  font-size: 16px;
  color: var(--white);
  font-weight: 800;
  padding-top: 30px;
}
.contact-text {
  font-size: 18px;
  color: var(--secondary);
  text-decoration: none;
}

.contact-text:hover{
  text-decoration: underline;
}

#contact {
  color: var(--secondary);
  font-size: 16px;
  padding: 100px 0 20px 0;
  text-align: right;
}

#footer-text {
  display: block;
  width: 70%;
}

#footer-contact {
  display: block;
  width: 30%;
}

/*RESPONSIVE*/

@media (max-width:900px) {
  
  header {
    padding: 0 5%;
  }
  
  #footer-content {
    width: 90%;
    margin: 0 auto;
  }

  #footer-text {
    padding-right: 30px;
  }

  #contact {
    padding: 100px 5% 20px 0;
  }
}

@media (max-width:750px) {
  .logo {
    float: none;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding-bottom: 30px;
  }

  .nav-list {
    float: none;
    margin: 0 auto;
    text-align: center;
  }

  #footer-content {
    display: block;
  }


  #footer-text{
    width: 80%;
    margin: 0 auto;
    padding-right: 0;
  }

  #footer-contact {
    width: 80%;
    margin: 0 auto;
  }

  
}


@media (max-width:500px) {

 

  #ft-title {
    font-size: 36px;
  }

  #ft-text {
    font-size: 28px;
  }


}