@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700&display=swap");

:root {
  --primary: #135040;
  --secondary: #28aa6e;
  --app-grey: #f4f6f9;
  --warning: red;
  --bg: #ffffff;
}

.dark-mode {
  --primary: #28aa6e;
  --secondary: #135040;
  --app-grey: #2f4251;
  --warning: #f29d4b;
  --bg: #213341;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Sora", sans-serif;
}

body {
  background-color: var(--bg);
  min-height: 100vh;
}

button {
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
