@import url("/styles/common.css");

#presentation {
  padding: 15% 0;
  max-width: 580px;
  margin: 0 auto;
}

.presentation-title {
  font-size: 96px;
  color: var(--blue);
  text-align: center;
  font-weight: 400;
  line-height: 100%;
}

#presentation-subtitle {
  font-size: 24px;
  color: var(--text);
  line-height: 115%;
  text-align: center;
  font-weight: 400;
  padding-top: 20px;
}

/*WORK*/

.work-card {
  background-color: var(--white);
  border-radius: 20px;
  display: flex;
  min-height: 400px;
  margin-bottom: 40px;
  /*padding: 40px 0 40px 40px;*/
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.work-card:hover{
  transform: scale(1.05);
  box-shadow: 5px 5px 20px 0px rgba(73,100,243,0.35);
  cursor: pointer;
}

.card-container {
  padding: 40px;
}

.card-text {
  width: 40%;
  display: flex;
  align-items: center;
}

.card-img {
  width: 60%;
  display: block;
  align-self: center;
  text-align: center;
}

.home-imag-card {
  width: 90%;
  padding: 40px 0;
}

.wc-title {
  color: var(--text);
  font-size: 36px;
  font-weight: 800;
  line-height: 115%;
  padding-bottom: 10px;
}

.wc-text {
  color: var(--text);
  font-size: 16px;
  font-weight: 400;
  line-height: 135%;
  padding-bottom: 15%;
}

.wc-tags {
  color: var(--white);
  font-size: 11px;
  font-weight: 800;
  padding: 10px 15px;
  background-color: var(--pink);
  border-radius: 50px;
  text-align: center;
  display: inline-flex;
  margin-bottom: 10px;
}

/*RESPONSIVE*/
@media (max-width:900px) {
  .work-card {
    width: 80%;
    margin: 0 auto 40px auto;
  }
}

@media (max-width:750px) {
  #presentation {
    max-width: 600px;
    padding: 15% 10%;
  }

  .work-card {
    display: block;
    margin: 0 10% 40px 10%;
  }

  .card-text {
    display: block;
    width: 100%;
  }

  .card-img {
    width: 100%;
    margin: 0 auto;
  }

  .home-imag-card {
    width: 80%;
    padding: 0 0 40px 0;
  }
}

@media (max-width:632px) {
  .presentation-title {
    font-size: 70px;
  }
}

@media (max-width:500px) {
  .presentation-title{
    font-size: 48px;
  }

  #presentation-subtitle{
    font-size: 18px;
  }

  
}

