@import url("/styles/common.css");

.accent {
  color: var(--accent) !important;
}


.work-img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform-origin: center;
  perspective: 1000px;
}


#presentation {
  padding: 15% 0;
  /*max-width: 580px;*/
  margin: 0 auto;
}

#pre-half-text {
  width: 60%;
  display: inline-block;
  text-align: left;
}

#pre-half-none {
  width: 39%;
  display: inline-block;
  text-align: right;
}

.presentation-text {
  color: #a4a4a4;
  font-size: 16px;
  font-weight: 400;
  line-height: 135%;
}

.presentation-title {
  font-size: 96px;
  color: var(--black);
  text-align: left;
  font-weight: 600;
  line-height: 100%;
}

#presentation-subtitle {
  font-size: 24px;
  color: var(--black);
  line-height: 140%;
  text-align: left;
  padding-top: 20px;
}

/*WORK*/

.work-line {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 3%;
  margin-bottom: 60px;
}

.work-column {
  width: calc(50% - 3%);
  box-sizing: border-box;
}

.work-img {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 10px;
}

.work-titles {
  color: var(--black);
  font-size: 20px;
  line-height: 100%;
  padding-bottom: 10px;
}

.work-links {
text-decoration: none;
color: var(--black);
}

.work-links:hover{
  font-weight: 600;
  text-decoration: wavy;
}

/*
.work-card:hover{
  transform: scale(1.05);
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0,0.06);
  cursor: pointer;
}*/

/*STATEMENT*/

#bottom-statement {
  padding: 10% 0%; 
}

#bt-statement-text {
  font-size: 32px;
  font-weight: 400;
  text-align: left;
  color: var(--black);
}

/*RESPONSIVE*/
@media (max-width:900px) {
  .container {
    max-width: 90%;
  }
  #pre-half-none {
    display: none;
  }

  #pre-half-text {
    width: 100%;
  }
}


@media (max-width:650px) {

  #presentation {
    padding: 30% 0;
    width: 80%;
  }

  .presentation-title {
    font-size: 60px;
    text-align: center;
  }

  #presentation-subtitle {
    text-align: center;
    font-size: 18px;
  }

  .work-column {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 60px;
  }

  .work-line {
    display: block;
  }

  #bottom-statement {
    width: 80%;
    margin: 0 auto;
  }

  #bt-statement-text {
    font-size: 28px;
  }
}


