@import url("./common.css");

body {
  background-color: var(--app-grey);
}

header {
  display: flex;
  background: var(--primary);
  padding: 0 3em;
  margin-bottom: 2em;
  height: 60px;
}

a {
  display: block;
  width: fit-content;
  padding: 0.7em 1em;
  border-bottom: 0.5em solid var(--secondary);
  text-decoration: none;
  color: var(--bg);
}

.user-info {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: var(--bg);
}

.user-info p {
  text-transform: capitalize;
}

/* .user-info .user-image {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background-color: white;
  opacity: 0.4;
  margin-left: 0.7em;
} */

nav {
  display: flex;
  align-items: end;
}

#linkMenu {
  font-size: 22px;
  font-weight: 700;
  padding: 0 1em;
}

#closeApp {
  margin-left: 15px;
  font-size: 1em;
  font-weight: 600;
  background-color: var(--secondary);
  border: 1.5px solid var(--secondary);
  color: var(--primary);
  border-radius: 50vh;
  padding: 7px 15px;
  cursor: pointer;
}

#closeApp:hover {
  background-color: var(--primary);
  border: 2px solid var(--secondary);
}

/* Nova tarefa ----------------------------------------------------------- */

#caixaTarefa {
  border: 2px solid var(--primary);
  border-radius: 15px;
}

.nova-tarefa {
  position: relative;
  display: flex;
  align-items: center;
  background-color: white;
  width: 80%;
  margin: 0 10%;
  padding: 1em;
  border-radius: 0.2em;
  z-index: 20;
}

.nova-tarefa input[type="text"] {
  border: none;
  flex: 1;
  border-radius: 0;
  padding: 0.3em;
  font-size: 1.1em;
}

.nova-tarefa input:focus {
  outline: none;
  border-bottom: 1px solid var(--app-grey);
}

.nova-tarefa input::placeholder {
  color: rgb(197, 197, 197);
  text-indent: 0.2em;
}

.nova-tarefa button {
  height: 2em;
  width: 2em;
  background-color: transparent;
  margin-left: 2em;
  margin-right: 1em;
  opacity: 0.5;
  cursor: pointer;
}

.nova-tarefa button:hover {
  opacity: 1;
}

.nova-tarefa button img {
  height: 100%;
  width: 100%;
}

.not-done {
  width: 2em;
  height: 2em;
  background-color: var(--app-grey);
  margin-right: 1em;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  color: grey;
}

/* Lista de tarefas ----------------------------------------------------------- */

.tarefas-pendentes {
  display: flex;
  flex-direction: column;
  width: 70%;
  list-style: none;
  margin: 2em 15%;
}

.tarefa {
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
}

.tarefa .not-done {
  position: relative;
  height: 1.5em;
  width: 1.5em;
  background-color: var(--primary);
  border: 2px solid var(--primary);
  z-index: 2;
  background-image: url(/assets/check.png);
  background-position: center;
  background-size: contain;
  transition: background-color 200ms linear;
}

.tarefa .not-done:hover {
  background-color: var(--secondary);
  background-image: url("https://cdn-icons-png.flaticon.com/512/190/190411.png");
  background-position: center;
  background-size: contain;
  transform: scale(1.2);
}

.tarefa:first-child .not-done::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: calc(0.75em - 1px);
  display: block;
  height: 3em;
  width: 2px;
  background-color: var(--primary);
}

.tarefa:not(:last-child) .not-done::after {
  content: "";
  position: absolute;
  top: 100%;
  left: calc(0.75em - 1px);
  display: block;
  height: 4.5em;
  width: 2px;
  background-color: var(--primary);
}

.tarefa .descricao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  background-color: var(--bg);
  padding: 1em 2em;
  border-radius: 10px;
  box-shadow: 2px 2px 5px var(--app-grey);
  margin-right: 1em;
}

.tarefa .nome {
  color: var(--primary);
}

.tarefa .timestamp {
  font-size: 0.9em;
  color: var(--primary);
}

.delTask {
  width: 2em;
  height: 2em;
  background-color: var(--app-grey);
  margin-right: 1em;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  color: grey;
}

.tarefa .delTask {
  position: relative;
  height: 1.5em;
  width: 1.5em;
  background-color: #aecec9;
  background-image: url(/assets/trash.png);
  background-position: center;
  background-size: contain;
  border: 2px solid #aecec9;
  z-index: 2;
  transition: background-color 200ms linear;
}

.tarefa .delTask:hover {
  background-image: url(/assets/trash-hover.png);
  background-color: var(--primary);
  border: 2px solid var(--primary);
  background-position: center;
  background-size: contain;
  transform: scale(1.3);
}

.tarefa:first-child .not-done::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: calc(0.75em - 1px);
  display: block;
  height: 3em;
  width: 2px;
  background-color: var(--primary);
}

/* .tarefa:first-child .delTask::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: calc(0.75em - 1px);
  display: block;
  height: 3em;
  width: 2px;
  background-color: var(--secondary);
} */

.tarefa:not(:last-child) .not-done::after {
  content: "";
  position: absolute;
  top: 100%;
  left: calc(0.75em - 1px);
  display: block;
  height: 4.5em;
  width: 2px;
  background-color: var(--primary);
}

/* .tarefa:not(:last-child) .delTask::after {
  content: "";
  position: absolute;
  top: 100%;
  left: calc(0.75em - 1px);
  display: block;
  height: 4.5em;
  width: 2px;
  background-color: var(--secondary);
} */

/* Tarefas terminadas ----------------------------------------------------------- */

.titulo-terminadas {
  position: relative;
  width: 80%;
  text-align: left;
  padding: 0.5em 1em;
  border-radius: 0.2em;
  color: var(--primary);
  font-weight: 700;
  font-size: 30px;
  margin: 0 auto;
  z-index: 20;
}

.tarefas-terminadas {
  display: flex;
  flex-direction: column;
  width: 70%;
  list-style: none;
  margin: 1em 15%;
}

.tarefas-terminadas i {
  color: grey;
  background-color: var(--primary);
}
.tarefas-terminadas button {
  margin-left: 10px;
}

.tarefas-terminadas .tarefa .descricao {
  background-color: var(--primary);
  color: #ffffff;
}

.tarefas-terminadas .tarefa .descricao .nome {
  color: #ffffff;
  text-decoration: line-through;
}
.tarefas-terminadas .timestamp {
  color: #ffffff;
  text-decoration: line-through;
}

/*Animação*/
#skeleton .descricao {
  background-color: rgb(189, 189, 189);
}

#skeleton p {
  background-color: rgb(214, 214, 214);
  color: rgb(214, 214, 214);
}

#skeleton .not-done {
  background-color: rgb(189, 189, 189);
}

#skeleton {
  animation: trasparencia 1s infinite;
}

@keyframes trasparencia {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 0.8;
  }
}

/*BOTAO DARK MODE*/
#color-theme {
  position: fixed;
  bottom: 1.5em;
  right: 1.5em;
  background-color: var(--app-grey);
  color: var(--primary);
  font-weight: 600;
}

/*RESPONSIVO*/
@media only screen and (max-width: 700px) {
  header {
    height: 100%;
    padding: 1em 1em 0;
  }

  .user-info {
    width: 70%;
    flex-direction: column-reverse;
    text-align: right;
    align-items: end;
  }

  #userName {
    padding: 10px;
  }

  #closeApp {
    left: 0%;
  }

  .tarefas-pendentes,
  .tarefas-terminadas {
    width: 80%;
  }
}

/*MOBILE*/
@media only screen and (max-width: 440px) {
  header {
    flex-flow: column-reverse;
  }

  #caixaTarefa {
    width: 80%;
    margin: 0 auto;
  }

  #circuloTarefa {
    display: none;
  }

  .tarefas-pendentes {
    margin: 0.5em 10%;
    width: 90%;
  }
}
