@import url("/styles/common.css");




.primary {
  color: var(--primary);
}

.blue {
  color: var(--secondary);
}

.white {
  color: var(--white);
}

.grey {
  color: var(--grey2);
}



.darkBlue {
  color: var(--secondary);
}

.bulletpoint {
  line-height: 170% !important;
}

.work-subtitle {
  font-weight: 400;
  font-size: 20px;
  padding-bottom: 10px;
}

.work-title {
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 30px;
}

.work-text {
  font-size: 20px;
  line-height: 1.4em;
  font-weight: 300;
  padding-bottom: 30px;
}

/*HEADER*/

.case-header {
  padding: 5% 0;
}

.work-header-subtitle {
  text-transform: uppercase;
  font-size: 16px;
  padding-bottom: 30px;
  color: var(--grey2);
}

.work-header-title {
  font-size: 54px;
  padding-bottom: 40px;
  font-weight: 700;
  color: var(--black);
}

.header-text {
  display: flex;
}

.header-text-block {
  width: 30%;
  margin: 0 auto;
}


/*CONTENT*/


.centerImg {
  text-align: center;
}

.full-text {
  max-width: 940px;
  margin: 0 auto;
}

.mini-pad {
  padding-top: 40px;
}

.pad-top {
  padding-top: 80px;
}

.pad-bottom {
  padding-bottom: 80px;
}

.span-black {
  color: var(--black);
  font-weight: 700;
}

.work-container {
  max-width: 940px;
  padding: 80px 0;
  margin: 0 auto;
}

.grey-container {
  display: flex;
  align-items: center;
}

.half {
  width: 50%;
  display: block;
}

/*IMAGES*/
.case-top-img {
  width: 100%;
  object-fit: cover;
}

.case-top-img-responsive {
  width: 100%;
  display: none;
}

.case-half-img {
  width: 80%;
  margin: 0 auto;
  text-align: right;
  float: right;
}

.case-full-img {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 30px;
}

figcaption {
  color: var(--primary);
  text-align: center;
}

.img-border {
  border: solid 2px var(--grey);
}

.final-img {
  margin-bottom: -6px;
}

/*BACK TO TOP*/
#back-to-top {
  padding: 0px 40px;
  text-align: right;  
}

#scrollToTopText {
  text-align: left;
  font-weight: 700;
  font-size: 18px;
}

.btt-text {
  color: var(--white);
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
  background-color: var(--black);
  border-radius: 200px;
  padding: 15px;
}

#scrollToTopText:hover {
  color: var(--grey);
}

footer {
  border-top: 1px #F2F2F2 solid;
}


/*RESPONSIVE*/

@media (max-width:900px) {
  .case-top-img {
    display: none;
  }

  .case-top-img-responsive {
    display: block;
  }
  
  .header-title {
    padding: 0 7%;
  }

  .header-text {
    padding: 0 7%;
  }

  .full-text {
    padding-left: 7%;
    padding-right: 7%;
  }

  .grey-half {
    padding: 0 7%;
  }
}

@media (max-width:750px) {

  .grey-container {
    display: block;
  }

  .half {
    width: 100%;
  }

  .case-half-img {
    width: 50%;
    float: none;
    margin: 0 auto;
  }
}

@media (max-width:500px) {
  .work-title {
    font-size: 32px;
  }

  .work-header-title {
    font-size: 32px;
    padding-bottom: 40px;
  }

  .header-text {
    display: block;
  }

  .header-text-block {
    width: 100%;
  }
}